#set up ooo times 
#http://jessachandler.com/2018/03/setup-task-and-time-warrior/

define exclusions:
    monday     = <6:00> <23:00>
    tuesday    = <6:00> <23:00>
    wednesday  = <6:00> <23:00>
    thursday   = <6:00> <23:00>
    friday     = <6:00> <23:00>
    saturday   = <6:00> <23:00>
    sunday     = <6:00> <23:00>


tags.prof.description = Task as a full Professor
tags.trello.description = Daily sync with trello
tags.life.description = Better person tasks
tag.scientist.description = Research work
tags.scientist.description = Research work
